@import "reset";

$grid-columns:      12;
$grid-gutter-width: 20;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1320px
);
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "pages";
@import "career-pages";


html,body{
  max-width: 100vw !important;
  overflow-x: hidden !important;
}
a{
  text-decoration: none;
}

header{
  box-shadow: 0px 4px 18px -4px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  background: white;
  z-index: 100;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 48px;
}
#logo{
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;
  color: #1859FF;
}
#header-menu{
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
#header-menu a{
  margin-right: 15px;
  text-decoration: none;
}
span.mobile-icon{
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  #header-menu{
    display: flex;
    position: fixed;
    background: #010117;
    width: 100%;
    top: 48px;
    left: 100%;
    display:none;
    transform: translate3d(0,0,0);
    flex-direction: column;
    z-index: 3;
    transition: all .4s ease-in-out;
    height: 100vh;
  }
  #header-menu.mobile-menu-open{
    display: flex;
    transform: translate3d(-100%,0,0);
  }
  #header-menu a{
    padding: 20px;
    color: white;
    // display: none;
  }
  .jumbo {
    height: auto;
    padding: 100px 0;
  }
  span.mobile-icon{
    display: block;
    font-size: 2rem;
  }
}