
#whyus {
    background: #010117;
    padding: 4rem 0;
}
#whyus h2 {
    font-size: 72px;
    background-size: 100%;
    text-transform: uppercase;
    text-align: center;
    border-image-source: linear-gradient(34deg, rgba(255, 3, 3, 1) 0%, rgba(128, 0, 255, 1) 61%);
    /* Warning: no fallback */
    background: linear-gradient(34deg, rgba(255, 3, 3, 1) 0%, rgba(128, 0, 255, 1) 61%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #010117; /* same as background */
    stroke-width: 2px;
    margin-bottom: 4rem;
}
#whyus .image-highlight {
    position: relative;
    width: 362px;
    height: 480px;
    margin-top: 4rem;
}
#whyus .image-highlight .gradient-bg {
    width: 362px;
    height: 480px;
    border: 16px solid;
    border-image-source: linear-gradient(34deg, rgba(255, 3, 3, 1) 0%, rgba(128, 0, 255, 1) 61%);
    border-image-slice: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#whyus .image-highlight img {
    width: 362px;
    height: 480px;
    object-fit: cover;
    position: absolute;
    top: -3rem;
    left: 3rem;
    z-index: 2;
}
#whyus h3 {
    color: white;
    margin-bottom: 1rem;
}
#whyus ul {
    list-style: disc;
    color: white;
    font-size: 1rem;
    margin-bottom: 3rem;
}
#whyus li {
    line-height: 24px;
    margin-bottom: 1rem;
}
#whyus .total-students {
    font-size: 4rem;
    color: white;
    font-weight: 700;
    display: block;
    text-align: center;
    line-height: 1;
}
#whyus .sub-total {
    font-size: 1rem;
    color: white;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}
#whyus .who-hired {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    display: block;
    text-align: center;
}
#whyus .logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
#foursteps {
    background: #1859ff;
    padding: 4rem 0;
}
#foursteps h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3fc5ff;
    margin-bottom: 0.5rem;
}
#foursteps h4 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 1rem;
}
#foursteps p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #d6d6d6;
    margin-bottom: 2rem;
}
#foursteps .step img {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 12px 13px -6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    object-fit: cover;
    height: 400px;
}
#foursteps .title {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #e3e3e3;
}
#career-paths {
    //height: 100vh;
    padding: 4rem 0;
}
#career-paths h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.path .path-img {
    background: black;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0px 12px 13px -6px rgba(0, 0, 0, 0.25);
}
.path .title {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #697589;
    display: block;
}
.jumbo {
    height: calc(100vh - 50px);
    background: linear-gradient(180deg, #38028f 0%, rgba(109, 20, 255, 0.69) 100%),
        url("/img/jumbo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbo .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    height: 100%;
    display: flex;
}
.left-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.left-info h1 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #f0f0f0;
    margin-bottom: 32px;
}
.left-info p {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #e7e7e7;
    margin-bottom: 32px;
}
.left-info .start-btn {
    background: #292929;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    height: 48px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-info img {
    max-width: 563px;
    width: 100%;
}
.path-img {
    background: black;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0px 12px 13px -6px rgba(0, 0, 0, 0.25);
}
a {
    text-decoration: none;
}
a:hover {
    color: red !important;
}
#pricing {
    padding: 4rem 0;
    .savings{
        display: block;
        font-size: 1rem;
        text-align: center;
    }
}
#pricing h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 123.1%;
    color: #000000;
    text-align: center;
    align-self: center;
}
#pricing p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 123.1%;
    color: #697589;
    text-align: center;
    margin-bottom: 2rem;
}
#pricing .prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

#pricing .prices .tier {
    padding: 2rem 1rem;
    background: #ffffff;
    border: 1px solid #1859ff;
    box-sizing: border-box;
    box-shadow: 0px 12px 13px -6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 270px;
    height: 496px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
#pricing .prices .tier.filled {
    background: #1859ff;
    color: white;
}
#pricing .prices .tier.filled .title {
    color: white;
}
#pricing .prices .tier.filled .price {
    color: white;
}
#pricing .prices .tier.filled .button {
    background: white;
    color: #1859ff;
    &:hover{
        color: #1859ff !important;
    }
}
#pricing .prices .tier:nth-child(3) {
    margin-right: 0;
}
#pricing .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 123.1%;
    color: #000000;
    align-self: center;
}
#pricing .price {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 123.1%;
    align-self: center;
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
}
#pricing .info {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 4rem;
}
#pricing .button {
    display: block;
    width: 208px;
    height: 48px;
    left: 560px;
    top: 3936px;
    border: none;
    background: #1859ff;
    box-shadow: 0px 12px 13px -6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: white !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    
    #pricing .prices .tier {
        margin: 0 0 1rem 0;
    }
    #pricing .prices {
        flex-wrap: wrap;
    }
    #whyus .logos img{
        width: 100%;
    }
    #whyus .image-highlight{
        width: 200px;
    }
    #whyus .image-highlight .gradient-bg {
        width: 200px;
    }
    #whyus .image-highlight img {
        width: 200px;
        left: 2.5rem;
    }
}
